.footer {
   
    .container {
        background-color: var(--bgColor);
        .footerContent {

            .author {
                padding: 15px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: var(--footerTextColor);
                align-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                height: 2vh;
                font-weight: bolder;
                // background-color: red
            }
        }
    }
}