<header class="header w-100">
  <div class="container">
    <div class="headerContent">
      <div class="logo">
        <img src="assets/Logo.png" class="logoImg m-0 p-0" alt="Logo Image" />
      </div>
      

      <button class="burger" (click)="toggleMenu()">
        {{ isMenuOpen ? '✖' : '☰' }}
      </button>

      <div class="navigation" role="navigation" [class.open]="isMenuOpen">
        <ul class="nav-list p-0 m-0">
          <li *ngFor="let link of headerNavigation">
            <a class="fontTest" [routerLink]="link.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeMenu()">
              {{ link.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>