<header class="header w-100">
  <div class="container">
    <div class="headerContent">
      <h1 class="logo m-0 p-0">{{ haderTitle }}</h1>


      <button class="burger" (click)="toggleMenu()">
        {{ isMenuOpen ? '✖' : '☰' }}
      </button>

      <div class="navigation" role="navigation" [class.open]="isMenuOpen">
        <ul class="nav-list p-0 m-0">
          <li *ngFor="let link of headerNavigation">
            <a [routerLink]="link.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeMenu()">
              {{ link.label }}
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>