*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bgColor: #fbfbfb;
    --bgColor1: #cccccc;
    
    --logoColor: #d62d65;

    --headerTextColor: #92c9cd;
    --activeLinkColor: #d62d65;
    --footerTextColor: #d62d65;
}

.no-scroll {
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  