*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor1: #cccccc;
    --bgColor: #31363F;
    --logoColor: #BC8CF2;
    --headerTextColor: #DFDFDE;
    --activeLinkColor: #BC8CF2;
    --footerTextColor: #BC8CF2;
}

